[Unit]
Description = Custom home directory backup

[Timer]
OnCalendar = monthly
AccuracySec = 45 msec
Persistent = 1

[Install]
WantedBy = timers.target
