[Unit]
Description = Backup home directory

Requires = graphical-session.target name-resolv.target
After = graphical-session.target name-resolv.target

AssertFileNotEmpty = %h/exclude

[Service]
Type = oneshot

UMask = 0077

Nice = 0
CPUQuota = 45%
MemoryHigh = 30%
IOSchedulingPriority = 3
IOSchedulingClass = best-effort

ExecStart = notify-send -w -u critical -t 5000 '%f' 'The home directory "%h" is about to be backed up, please close all programs.'
ExecStart = duplicity full --encrypt-key 2A29133697A93CCEBCB69C4EF271A26A3948D34A --exclude-filelist %h/exclude %h file:///backups
