[Unit]
Description = Rotate log files

ConditionACPower = 1

[Service]
ExecStart = logrotate -s %E/logrotate/logrotate.status %E/logrotate/logrotate.conf
