[Unit]
Description = Manjaro package upgrade

After = name-resolv.target graphical-session.target
Requires = name-resolv.target graphical-session.target

AssertOSRelease = ID=manjaro
AssertFileIsExecutable = %h/.local/bin/chk4up
AssertACPower = 1

[Service]
Type = oneshot

ExecStart = sudo pacman -Syu --noconfirm
ExecStart = %h/.local/bin/chk4up
