[Unit]
Description = Package upgrade

After = name-resolv.target graphical-session.target
Requires = name-resolv.target graphical-session.target

AssertACPower = 1

[Service]
Type = oneshot

CPUQuota = 40%
MemoryHigh = 25%

StandardOutput = null

ExecStartPre = %h/.local/bin/cmpbootc -l 3
ExecStart = %h/.local/bin/pip-update sdist
