[Unit]
Description = Change desktop wallpaper

After = graphical-session.target
Requires = graphical-session.target

[Service]
ExecStart = %h/.local/bin/wp %h/Pictures/Wallpapers
