set bell-style none

set visible-stats on

set colored-stats on

set show-mode-in-prompt on

set blink-matching-paren on

set vi-ins-mode-string (INSERT)
set vi-cmd-mode-string (COMMAND)

"\C-l":clear-screen
